@model TimeMate.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registreren";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/js/register.js"></script>

<h1>Maak een account aan</h1>

<hr />
<form asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-5">
            <div>Wachwoordeisen:</div>
            <ul>
                <li>Minimaal 9 tekens lang</li>
                <li>1 hoofdletter</li>
                <li>1 cijfer</li>
                <li>1 speciale teken</li>
            </ul>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" id="add-job-fields" onclick="AddJobFields()" class="btn btn-info" value="Bijbaan toevoegen" />
                <input type="button" id="remove-job-fields" onclick="RemoveJobFields()" class="btn btn-danger" value="Bijbaan verwijderen" />
            </div>

            <div class="form-group">
                <div id="job-collection"></div>
            </div>

            <div class="d-none" id="JobAgendaElement">
                <div class="form-group">
                    <label asp-for="AgendaName" class="control-label"></label>
                    <input asp-for="AgendaName" class="form-control" required/>
                    <span asp-validation-for="AgendaName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgendaColor" class="control-label"></label>
                    <input type="color" asp-for="AgendaColor" class="control-label" />
                </div>
            </div>
        </div>

        <div class="col-md-4 float-right">
            <div class="form-group">
                <input id="register-button" type="submit" value="Registeer" class="btn btn-success" />
                <input id="go-login-button" type="button" value="Terug naar inloggen" onclick="location.href='@Url.Action("Index", "Account")'" class="btn btn-warning" />
            </div>
        </div>
        <div class="col-md-2 float-right">
            <div class="text-danger" id="hourlywage-error"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
