@model TimeMate.Models.CAppointmentViewModel

@{
    ViewData["Title"] = "Nieuwe afspraak met taken toevoegen";
}

<h1>Nieuwe afspraak met taken toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentViewModel.Name" class="control-label"></label>
                <input asp-for="AppointmentViewModel.Name" class="form-control" />
                <span asp-validation-for="AppointmentViewModel.Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="AppointmentViewModel.StartDate" class="control-label"></label>
                    <input type="date" asp-for="AppointmentViewModel.StartDate" class="form-control" />
                    <span asp-validation-for="AppointmentViewModel.StartDate" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="AppointmentViewModel.StartTime" class="control-label"></label>
                    <input type="time" asp-for="AppointmentViewModel.StartTime" class="form-control" />
                    <span asp-validation-for="AppointmentViewModel.StartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="AppointmentViewModel.EndDate" class="control-label"></label>
                    <input type="date" asp-for="AppointmentViewModel.EndDate" class="form-control" />
                    <span asp-validation-for="AppointmentViewModel.EndDate" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="AppointmentViewModel.EndTime" class="control-label"></label>
                    <input type="time" asp-for="AppointmentViewModel.EndTime" class="form-control" />
                    <span asp-validation-for="AppointmentViewModel.EndTime" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AgendaName" class="control-label"></label>
                @Html.DropDownListFor(x => x.AgendaName, new SelectList(Model.AgendaName))
                <span asp-validation-for="AgendaName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task[0]" class="form-control" />
                <span asp-validation-for="Task[0]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task[1]" class="form-control" />
                <span asp-validation-for="Task[1]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task[2]" class="form-control" />
                <span asp-validation-for="Task[2]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task[3]" class="form-control" />
                <span asp-validation-for="Task[3]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task[4]" class="form-control" />
                <span asp-validation-for="Task[4]" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Afspraak toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
