@model TimeMate.Models.AgendaViewModel

@{
    ViewData["Title"] = "Agenda toevoegen";
}

<h1>Agenda toevoegen</h1>

<hr />
<form asp-action="AddAgenda">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AgendaName" class="control-label"></label>
                <input asp-for="AgendaName" class="form-control" />
                <span asp-validation-for="AgendaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgendaColor" class="control-label"></label>
                <input type="color" asp-for="AgendaColor" class="form-control" />
                <span asp-validation-for="AgendaColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationType" class="control-label"></label>
                <select asp-for="NotificationType" class="form-control">
                    <option>Nee</option>
                    <option>Standaardgeluid</option>
                    <option>Eigen geluid</option>
                </select>
                <span asp-validation-for="NotificationType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Maak agenda" class="btn btn-primary" />
                <input type="button" class="btn btn-outline-primary" value="Negeren" onclick="location.href='@Url.Action("Index", "AgendaView")'" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
