@model TimeMate.Models.NormalAppointmentViewModel

@{
    ViewData["Title"] = "Nieuwe afspraak toevoegen";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/AddNormalAppointment.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/AddNormalAppointment.css" />

<h1>Nieuwe afspraak toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_AddAppointment" for="@Model.AppointmentViewModel" />

            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input type="button" id="bolding-text" class="btn btn-info" value="Maak text dikgedrukt/niet dikgedrukt" />
                <div class="description" id="descriptionBox" contenteditable="true" style="width:360px; height: 120px" ; border: 1px solid #ccc;></div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="add-appointment" type="button" value="Afspraak toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
