@model TimeMate.Models.NormalAppointmentViewModel

@{
    ViewData["Title"] = "Nieuwe afspraak toevoegen";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/add-appointment-date.js"></script>

<h1>Nieuwe normale afspraak toevoegen</h1>

<hr />
<form asp-action="Index" id="appointment-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <partial name="_AddAppointment" for="@Model.AppointmentViewModel" />
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 float-right">
            <div class="form-group">
                <input type="submit" id="submit-appointment-btn" value="Afspraak toevoegen" class="btn btn-primary" />
                <input type="button" class="btn btn-outline-primary" value="Negeren" onclick="location.href='@Url.Action("Index", "AgendaView")'" />
            </div>
        </div>
        <div class="col-md-2 float-right">
            <div class="text-danger" id="date-error"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
